<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [current_user, @outfit] do |f| %>
        <%= f.input :title, placeholder: "type the outfit name" %>
        <%= f.input :description, placeholder: "describe your outfit" %>
        <%= f.input :price, placeholder: "type the daily price" %>
        <%= f.input :size, collection: @sizes, prompt: "select outfit size" %>
        <%= f.input :style, collection: @styles, prompt: "select outfit style" %>
        <%= f.input :picture %>
        <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

