<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @outfit do |f| %>
        <%= f.input :title, placeholder: "type the outfit name" %>
        <%= f.input :description, placeholder: "describe your outfit" %>
        <%= f.input :price, placeholder: "type the daily price" %>
        <%= f.input :size, placeholder: "select the size" %>
        <%= f.input :type, placeholder: "select the type" %>
        <%# f.input :title, placeholder: "type the outfit name" %>
        <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

