<div class="container padded">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag @outfit.picture.url(:large), width: "100%" %>
    </div>
    <div class="col-xs-6">
      <h2><%= @outfit.title %></h2>
      <p><%= @outfit.description %></p>
      <p><%= @outfit.price %>€ per day</p>
      <p><%= @outfit.size %></p>
      <p><%= @outfit.style %></p>
    </div>
  </div>
</div>
