<div class="container padded">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag @outfit.picture.url(:large), width: "100%" %>
    </div>
    <div class="col-xs-6">
      <h2><%= @outfit.title %></h2>
      <p><%= @outfit.description %></p>
      <p><%= @outfit.price %>€ per day</p>
      <p><%= @outfit.size %></p>
      <p><%= @outfit.style %></p>
      <p>Latitude: <%= @outfit.latitude %></p>
      <p>Longitude: <%= @outfit.longitude %></p>
    </div>
  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@outfit, @booking] do |f| %>
        <%= f.input :checkin, as: :string, input_html: {class: "datepicker"} %>
        <%= f.input :checkout, as: :string, input_html: {class: "datepicker"} %>

        <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <% content_for(:after_js) do %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({ format: "dd/mm/yyyy"});
      });
    </script>
  <% end %>

</div>
