<div class="navigation">

  <!-- BODY HEADER -->
  <div class="body-header">
    <div class="container">

<!--

      <%= form_tag styles_outfits_path do |f| %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
 -->

      <form class="form-inline" action="" method="GET">

        <div class="row">
          <div class="col-xs-12 col-md-1">
            <label for="address">Location:</label>
          </div>
          <div class="col-xs-12 col-md-8">
            <input id="address" name="address" type="text" class="form-control input-lg" style="width:100%;" aria-label="..." value="Paris, France" placeholder="Williamsburg, NY">
          </div>
          <div class="col-xs-12 col-md-1 text-center">
            <label for="distance">Range</label>
          </div>
          <div class="col-xs-12 col-md-2">
            <select class="form-control input-lg" name="distance" style="width:100%;">
              <option value="2">2km</option>
              <option value="5" selected>5km</option>
              <option value="10">10km</option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-md-1 text-right">
            <label for="size">Size</label>
          </div>
          <div class="col-xs-12 col-md-5">
            <select id="size" name="size" style="width:100%;" class="form-control input-lg">
              <option value="all">All sizes</option>
              <option>165cm</option>
              <option>170cm</option>
              <option>175cm</option>
              <option>180cm</option>
              <option>185cm</option>
              <option>190cm</option>
            </select>
          </div>

          <div class="col-xs-12 col-md-1 text-right">
            <label for="style">Allure</label>
          </div>
          <div class="col-xs-12 col-md-5">
            <select id="style" name="style" style="width:100%;" class="form-control input-lg">
              <option value="all">All styles</option>
              <option>Urban</option>
              <option>Hipster</option>
              <option>For a job interview</option>
              <option>For a night out</option>
            </select>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12 col-md-1 text-right">
            <label for="checkin">From</label>
          </div>
          <div class="col-xs-12 col-md-4">

            <input name="checkin" id="checkin" type="date" class="form-control input-lg" style="width:100%;" aria-label="..." placeholder="10/11/2015" disabled>
          </div>
          <div class="col-xs-12 col-md-1 text-center">
            <label for="checkout">To</label>
          </div>
          <div class="col-xs-12 col-md-4" >
            <input name="checkout" id="checkout" type="date" class="form-control input-lg" style="width:100%;" aria-label="..." placeholder="12/11/2015" disabled>
          </div>
          <div class="col-xs-12 col-md-2 text-right" >
            <input type="submit" name="submit" value="HIP ME!" class="btn btn-warning btn-lg"></input>
          </div>
        </div>

      </form>
    </div>
  </div>

  <% if @outfits.size > 0 %>

    <div class="row">

      <div class="col-xs-12 col-md-8">

        <div class="row">
          <% @outfits.each do |outfit| %>
            <div class="col-xs-12 col-md-6">
              <div class="card">
                <span class="card-bg" style="background-image:url('<%=outfit.picture.url(:large)%>')"></span>
                <span class="card-gradient"></span>
                <span class="card-category"><%= outfit.style%></span>
                <span class="card-text">
                  <h2><%= outfit.title %></h2>
                </span>
                <span class="card-user">
                  <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                </span>
                <%= link_to "", details_outfit_path(outfit), class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>

      </div><!-- col-xs-12 col-sm8 -->
      <div id="map"></div>

    </div> <!-- row -->

  <% else %> <!-- @outfits.size = 0 -->

   <div class="container">
      <div class="row text-center">
        <h2>OH NOES!</h2>
        <i style="font-size:100pt;" class="fa fa-frown-o"></i>
        <h4>No outfit fits in your selection, you big boy.</h4>
        <p>Maybe you should enlarge your selection ...</p>
      </div>
    </div>

<% end %>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>



<% end %>


<!--
<div class="card">
        <span class="card-bg" style="background-image: url('https://unsplash.it/600/300?image=1')"></span>
        <span class="card-gradient"></span>
        <span class="card-category">Popular</span>
        <span class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </span>
        <span class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
        </span>
        <a href="#" class="card-link"></a>
      </div> -->
<!-- <div class="col-xs-12 col-sm-4">
  <div class="card">
    <span class="card-bg" style="background-image: url('https://unsplash.it/600/300?image=0')"></span>
    <span class="card-gradient"></span>
    <span class="card-category">Popular</span>
    <span class="card-text">
      <h2>Some stuff</h2>
      <p>Very cool stuff, useful and smart</p>
    </span>
    <span class="card-user">
      <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
    </span>
    <a href="#" class="card-link"></a>
  </div>
</div> -->
