<div class="navigation">

  <!-- BODY CONTAINER -->
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag @outfit.picture(:large), width: "100%" %>
      </div>
      <div class="col-xs-6">
        <h1>Thanks for your booking!</h1>
        <h2>Your checkin date is: <%= @booking.checkin %> </h2>
        <h2>Your checkout date is: <%= @booking.checkout %> </h2>
        <h4> Total price: € <%= @booking.total_price %> </h4>
        <p>Please contact: <%= @outfit.user.firstname.capitalize %> </p>
        <p>Email: <%= @outfit.user.email %> </p>
      </div>
    </div>
  </div>
</div>


<%#= image_tag @outfit.user.picture(:thumb), width "20%" %>
