<!-- <div data-toggle='modal' data-target='#sign_modal'></div> -->
<div id="home" class="text-center pagination-centered xpro2">
  <div class="filter"></div>
  <div class="home-container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs font-devise">
            <%= f.input :email, required: false, autofocus: true, placeholder: "bob@mail.com", label_html: {class: "pull-left font-devise"} %>
            <%= f.input :password, required: false, placeholder: "********", label_html: {class: "pull-left font-devise"}  %>
            <%= f.input :remember_me, as: :boolean, label_html: {class: "pull-left font-devise"}  if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions moda">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
        <div class="text-left">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
